@model Arthes.WEB.Models.LinhaVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Linha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodLinha" class="control-label"></label>
                <input asp-for="CodLinha" class="form-control" />
                <span asp-validation-for="CodLinha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCor" class="control-label"></label>
                <input asp-for="NomeCor" class="form-control" />
                <span asp-validation-for="NomeCor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoLinha" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdTipoLinha, new SelectList(ViewBag.TipoLinha, "Value", "Text"), new {@class="form-control"})
            </div>
            <div class="form-group">
                <label asp-for="IdFabricante" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdFabricante, new SelectList(ViewBag.Fabricante, "Value", "Text"), new {@class="form-control"})
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
