@using Arthes.DATA.Models.Enum
@model Arthes.DATA.Models.Revista

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro</h1>

<div class="card">
    <div class="card-header">
        <h4>Revista</h4>
    </div>

    <div class="card-body">
        <form asp-action="Create">
            <div class="col-md row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6">
                    <label asp-for="Tema" class="control-label"></label>
                    <input asp-for="Tema" class="form-control" />
                    <span asp-validation-for="Tema" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Número Edição</label>
                    <input asp-for="NumEdicao" type="text" class="form-control" />
                    <span asp-validation-for="NumEdicao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Mês Edição</label>
                    <select asp-for="MesEdicao" class="form-control" asp-items="Html.GetEnumSelectList<Mes>()"></select>
                    <span asp-validation-for="MesEdicao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Ano Edição</label>
                    <input asp-for="AnoEdicao" type="text" class="form-control" />
                    <span asp-validation-for="AnoEdicao" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2" style="padding-top: 18px;">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <div class="col-md-2">
            <a asp-action="Index" class="btn btn-outline-dark"><i class="fa fa-home-lg"></i></a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
