@model Arthes.DATA.Models.TipoLinha

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>

<div class="card">
    <div class="card-header">
        <h4>Tipo de Linha</h4>
    </div>

    <div class="card-body">
        <form asp-action="Create">
            <div class="col-md-6 row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="col-md-6">
                <div class="col-md-2 form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <div class="col-md-2">
            <a asp-action="Index" class="btn btn-outline-dark"><i class="fa fa-home-lg"></i></a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
