@model Arthes.DATA.Models.LinhaReceita

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LinhaReceita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linha.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receita.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
